::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #d6d6d6;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #949494;
}
/* ==== fontes ==== */
@font-face {
  font-family: 'Cabin';
  src: url("../01_sources/02_fonts/Cabin/Cabin-Regular.ttf");
}
@font-face {
  font-family: 'Asap SemiBold';
  src: url("../01_sources/02_fonts/Asap/Asap-SemiBold.ttf");
}
/* ==== variáveis === */
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}
/* ==== corpo geral do sistema ==== */
.app {
  width: 550px;
  height: 100vh;
  background-color: #eeeeee;
  overflow: hidden;
  margin: 0px auto 0px auto;
  user-select: none;
  font-family: "Asap SemiBold", "Arial", Arial, Helvetica, sans-serif;
}
/* ==== barra superior ==== */
.sis-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #046db5;
  padding: 15px 30px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  color: white;
}
.menu-buttom {
  font-size: 30px;
  margin-right: 20px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: #003159;
  cursor: pointer;
}
.sis-status-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sis-status-bar h3 {
  font-size: 20px;
  display: block;
  margin-left: 20px;
  margin-top: 8px;
}
.sis-logo {
  width: 110px;
  cursor: pointer;
}
.sis-status {
  margin: 10px 45px 10px 20px;
  box-sizing: border-box;
  padding-bottom: 10px;
  border-bottom: 1px solid #b6b6b6;
}
.sis-status h3 {
  font-size: 20px;
  margin: 0px;
}
/* menu lateral */
.nav-menu {
  height: 100%;
  position: fixed;
  background-color: #eeeeee;
  transition: width 300ms;
  overflow: hidden;
  width: 0px;
  z-index: 10;
}
.nav-show {
  position: fixed;
  width: 280px;
}
.nav-container {
  width: 280px;
}
.menu-header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  background-color: #003159;
  color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}
.menu-header h3 {
  display: block;
  padding: 30px 0px 0px 15px;
  font-size: 15px;
}
.nav-op {
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2), -1px -2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.overlay {
  position: fixed;
  display: none;
  width: 550px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
}
/* ==== corpo da aplicação ==== */
.sis-body {
  width: 100%;
  height: calc(100vh - 200px);
  padding: 0px 20px 30px 20px;
  box-sizing: border-box;
  overflow: scroll;
  font-family: "Asap SemiBold", "Arial", Arial, Helvetica, sans-serif;
}
.main-op {
  display: flex;
  float: left;
  justify-content: center;
  align-content: center;
  width: 230px;
  height: fit-content;
  padding: 20px;
  margin: 8px;
  color: #3f3f3f;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2), -1px -2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}
.main-op span {
  font-size: 50px;
  margin: 0px 14px;
  color: #003159;
}
.main-op .op-name {
  height: fit-content;
  font-family: "Asap SemiBold", "Arial", Arial, Helvetica, sans-serif;
}
/* ===botão */
.step-back {
  color: #046db5;
  font-family: "Asap SemiBold", "Arial", Arial, Helvetica, sans-serif;
  width: fit-content;
}
.btn {
  background-color: #046db5;
  color: white;
  margin: 5px 0px 7px 0px;
}
/* ====lista de pacientes==== */
.list-group {
  font-family: "Cabin", "Arial";
}
/* ====pagina do paciente */
.caixa-texto {
  background-color: white;
  font-family: "Cabin", "Arial";
  font-size: 15px;
  padding: 4px 10px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 7px;
  color: #3f3f3f;
}

/* AJUSTE DA CLASSE APP AO DIMINUIR A TELA */
@media screen and (max-width: 600px){
  .app{
    width: 100%;
  }
}

.pac-body{
    height: calc(100vh - 110px);
}
.pac-data label{
  font-size: 13px;
  margin: 0px;
}
.pac-data h3{
  font-size: 20px;
  margin: 0px;
}
.col{
  padding: 0px 5px;
}