body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.all{
    width: 550px;
    height: 100vh;
    background-color: rgb(167, 167, 167);
    overflow: hidden;
}
.rounded{
    border-radius: 20px;
    cursor: pointer;
}
.card-shadow{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)
}
.midle{
    margin: 0px auto 0px auto;
}
.user-status-bar{
    width: 550px;
    background-color: rgb(71, 71, 71);
    overflow: hidden;
    padding: 20px 30px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.search-bar-alas{
    height: 50px;
    padding: 10px 30px;
    background-color: grey;
    border-bottom: 2px solid rgb(68, 68, 68);
}
.search-bar-alas span{
    display: block;
    float: left;
    font-size: 20px;
    width: 30%;
    box-sizing: border-box;
    text-align: right;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 5px;
}
.cascade-menu{
    width: 70%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: block;
    float: left;
    padding: 14px 20px;
    border-radius: 10px;
    color: black;
    position: relative;
}

.cascade-content{
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    height: 0px;
    max-height: fit-content;
    transition: height 200ms;
}
.casc-all{
    height: 300px;
}
.cascade-content span{
    display: block;
    float: left;
    width: 100%;
    text-align: left;
    padding-top: 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
.sis-bottom-bar{
    height: 100%;
    background-color: rgb(71, 71, 71);
}
.blank-board{
    display: none;
    height: 450px;
    width: 100%;
    cursor: auto;
    background-color: rgb(167, 167, 167);
    box-sizing: border-box;
    padding: 15px 20px;
}
.blank-name{
    background-color: rgb(71, 71, 71);
    font-size: 13px;
    color: white;
    padding: 3px 15px;
    border-radius: 5px 5px 0px 0px;
}
.pacient-list{
    background-color: white;
    height: 95%;
}
.pacient-list span{
    display: block;
    border-bottom: 1px solid grey;
    padding: 5px 15px;
}

