

/* ==== fontes ==== */
@font-face{
    font-family: 'Cabin';
    src: url("./01_sources/02_fonts/Cabin/Cabin-Regular.ttf");
}
@font-face{
    font-family: 'Asap SemiBold';
    src: url("./01_sources/02_fonts/Asap/Asap-SemiBold.ttf");
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Cabin";
}

/* ==== corpo geral do sistema ==== */
.app{
    width: 550px;
    height: 100vh;
    background-color: #eeeeee;
    overflow: hidden;
    margin: 0px auto 0px auto;
}
/* ==== barra superior ==== */
.sis-top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #046db5;
    padding: 15px 30px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    color: white;
}
.sis-status-bar{
}
.menu-buttom{
    font-size: 30px;
    margin-right: 20px;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #015994;
    cursor: pointer;
}
.sis-status-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.sis-status-bar h3{
    font-size: 20px;
    display: block;
    margin-left: 20px;
    margin-top: 8px;
}
.sis-logo{
    width: 110px;
}
.sis-status{
    margin: 20px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(182, 182, 182);
}

/* menu lateral */
.nav-menu{
    height: 100%;
    position: fixed;
    background-color: grey;
    transition: width 300ms;
    overflow: hidden;
    width: 0px;
}
.nav-show{
    position: fixed;
    width: 280px;
}
.nav-container{
    width: 280px;
}
.menu-header{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}
.menu-header h3{
    display: block;
    padding: 30px 0px 0px 15px;
}

/* ==== corpo da aplicação ==== */
.sis-body{
    width: 100%;
    height: fit-content;
    padding: 0px 20px 0px 20px;
    overflow: scroll;
}
.main-op{
    display: flex;
    float: left;
    justify-content: center;
    align-content: center;
    width: 230px;
    height: fit-content;
    padding: 20px;
    margin: 8px;
    color: rgb(63, 63, 63);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4), -1px -2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.main-op span{
    font-size: 50px;
    margin: 0px 14px;
}
.main-op .op-name{
    height: fit-content;
    font-family: "Asap SemiBold", sans-serif;
}