body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.all{
    width: 550px;
    height: 100vh;
    background-color: rgb(167, 167, 167);
    overflow: hidden;
}
.midle{
    margin: 0px auto 0px auto;
}
.user-status-bar{
    width: 550px;
    background-color: rgb(71, 71, 71);
    overflow: hidden;
    padding: 20px 30px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.main-user-name{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(187, 187, 187);
}
.main-user-name span{
    display: block;
    font-size: 13px;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 3px;
}
.main-user-img{
    display: block;
    float: right;
    height: 37px;
    width: 37px;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
}
.sis-body-start{
    display: block;
    padding-top: 0px;
    text-align: center;
}
.op{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgb(71, 71, 71);
    margin: 20px;
    color: rgb(187, 187, 187);
    overflow: hidden;
}
.rounded{
    border-radius: 20px;
    cursor: pointer;
}
.card-shadow{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)
}
.op-name{
    /* desenvolvendo... */
}
.sis-bottom-bar{
    height: 100%;
    background-color: rgb(71, 71, 71);
}


.sis-body-tela-triagem{
    display: block;

}
.search-bar-alas{
    
}
