

/* ==== fontes ==== */
@font-face{
    font-family: 'Cabin';
    src: url("./01_sources/02_fonts/Cabin/Cabin-Regular.ttf");
}
@font-face{
    font-family: 'Asap SemiBold';
    src: url("./01_sources/02_fonts/Asap/Asap-SemiBold.ttf");
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Cabin";
}

/* ==== corpo geral do sistema ==== */
.app{
    width: 550px;
    height: 100vh;
    background-color: #eeeeee;
    overflow: hidden;
    margin: 0px auto 0px auto;
}
/* ==== barra superior ==== */
.sis-top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #046db5;
    padding: 15px 30px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    color: white;
}
.sis-status-bar{
}
.menu-buttom{
    font-size: 30px;
    margin-right: 20px;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #015994;
    cursor: pointer;
}
.user-name{
    font-family: "Asap SemiBold";
    font-size: 18px;
}
.sis-status{
    margin: 20px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(182, 182, 182);
}

/* menu ateral */
.nav-menu{
    height: 100%;
    position: fixed;
    background-color: grey;
    transition: width 300ms;
    overflow: hidden;
    width: 0px;
}
.nav-show{
    position: fixed;
    width: 280px;
}
.nav-container{
    width: 280px;
}
/* ==== corpo da aplicação ==== */

.sis-body{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    text-align: center;
}
.main-op{
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 15px;
    color: rgb(63, 63, 63);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4), -1px -2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.main-op span{
    font-size: 60px;
}

.op-name{
    /* desenvolvendo... */
}